<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.symphony.reminders-bridge</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/open</string>
    <string>-o</string>
    <string>__LOG_PATH__</string>
    <string>--stderr</string>
    <string>__LOG_PATH__</string>
    <string>__APP_PATH__</string>
    <string>--args</string>
    <string>__CONFIG_PATH__</string>
  </array>

  <key>StartInterval</key>
  <integer>60</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
